* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  cursor: url("cursor.png"), auto;
}
.pointing {
  cursor: url("pointing.png"), auto !important;
}
.beam {
  cursor: url("beam.png"), auto !important;
}
:root {
  --text-primary: #fff;
  --text-secondary: #d5d5d5;
  --bg-primary: #000;
}
body {
  color: #ffffff;
  background-color: var(--bg-primary);
}
.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  border-bottom: 1px solid #222;
  background-color: #000000a3;
  backdrop-filter: blur(20px);
}
.navbar_container {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
  width: 1400px;
  max-width: 95%;
}
.navbar_links_left {
  flex: 1;
}
.navbar_links_left ul {
  display: flex;
  gap: 15px;
}
.navbar .logo {
  font-size: 25px;
  font-family: "Clash Display";
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 1000;
}
.navbar_links_left ul {
  list-style-type: none;
}
.navbar_links_left a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition-duration: 0.2s;
}
.navbar_links_left a:hover {
  color: var(--text-primary);
}
.navbar_links_right ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  align-items: center;
}
.navbar_links_right a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  color: var(--text-secondary);
  font-weight: 600;
  border: 1px solid #666;
  padding: 8px 15px;
  border-radius: 40px;
  transition-duration: 0.2s;
}
.navbar_links_right a:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.navbar_links_right button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  color: var(--text-secondary);
  font-weight: 600;
  border: 1px solid #666;
  padding: 8px 15px;
  border-radius: 40px;
  background-color: transparent;
  transition-duration: 0.2s;
}
.navbar_links_right button:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.navbar_links_right ul li:nth-child(3) button {
  background-color: var(--text-primary);
  color: var(--bg-primary);
  font-size: 20px;
  padding: 4px 10px;
}
.header {
  position: relative;
  min-height: 90vh;
}
.header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: 15;
  background: linear-gradient(#00000071, #000);
  backdrop-filter: blur(5px);
}
.header_text_container {
  width: 1400px;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 0px;
}
.header_text_container h1 {
  font-family: "Clash Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 11.1vw;
  font-weight: 600;
}
.header_text_bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_text_bottom h2 {
  font-size: 40px;
  font-weight: 400;
  width: 500px;
  max-width: 95%;
}
.header_text_bottom_right {
  width: 500px;
  max-width: 95%;
  line-height: 25px;
}
.header_text_bottom_right_box {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}
.header_text_bottom_right_box_elem {
  font-size: 12px;
  font-weight: 600;
  flex: 1;
  background-color: #00000043;
  color: var(--text-primary);
  padding: 7px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.header_text_bottom_right_box_elem i {
  color: #00c853;
  background-color: rgba(0, 132, 55, 0.4);
  font-size: 20px;
  border-radius: 10px;
  padding: 8px;
  margin-right: 10px;
}
@media only screen and (max-width: 590px) {
  .navbar_links_left {
    display: none;
  }
  .navbar_container {
    justify-content: space-between;
  }
  .header_text_container h1 {
    font-size: 21vw;
  }
}
@media only screen and (max-width: 1000px) {
  .header_text_bottom p,
  .header_text_bottom h2 {
    margin-top: 25px;
  }
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500vw;
  height: 500vw;
  border-radius: 50%;
  background-color: var(--text-primary);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_animate {
  animation-name: loader;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.loader_inner {
  width: 500vw;
  height: 500vw;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_inner_animate {
  animation-name: loader;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.loader_inner p {
  font-weight: 600;
  animation-name: blinker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-family: "Clash Display";
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  100% {
    width: 0%;
    height: 0%;
    display: none;
    pointer-events: none;
  }
}
.socials {
  width: 1400px;
  max-width: 95%;
  margin: 0px auto;
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.social_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 700px;
}
.social_left_stats {
  background-color: #00c853;
  flex: 1;
  border-radius: 20px;
  padding: 15px;
}
.socials_left_email_container {
  height: 500px;
  background: url("profilephoto.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  display: flex;
}
.socials_left_email {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: linear-gradient(#00000000, #000000b7);
  display: flex;
  flex-direction: column;
}
.socials_left_email_top {
  font-size: 40px;
  font-family: "Clash Display";
  flex: 1;
  font-weight: 500;
}
.socials_left_email_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.socials_left_email_bottom p {
  text-align: right;
  font-size: 20px;
  font-family: "Clash Display";
  flex: 1;
  font-weight: 500;
}
.socials_left_email_bottom a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: var(--bg-primary);
  background-color: var(--text-primary);
  font-weight: 600;
  border: 1px solid #666;
  padding: 8px 15px;
  border-radius: 40px;
  transition-duration: 0.2s;
}
.socials_left_email_bottom a:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 850px) {
  .socials {
    flex-wrap: wrap;
  }
}
.social_left_qoute {
  width: 100%;
  flex: 1;
  background: linear-gradient(#0061c875, #0061c8);
  padding: 15px;
  border-radius: 20px;
  font-size: 25px;
  line-height: 35px;
  font-family: "Clash Display";
}
.social_left_stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--bg-primary);
}
.social_left_stats_top {
  width: fit-content;
  font-weight: 600;
  border: 1px solid #000;
  padding: 8px 15px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 600;
}
.social_left_stats_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.social_left_stats_bottom h3 {
  font-size: 60px;
  font-weight: 600;
}
.social_left_stats_bottom b {
  font-size: 20px;
}
.social_left_stats_bottom span {
  font-weight: 600;
  font-size: 12px;
}
.socials_right {
  flex: 1.3;
  min-height: 700px;
  min-width: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.socials_right_skills {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  background-color: #111;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.socials_right_skills p {
  padding: 15px;
  font-size: 12px;
  background-color: #111;
  border: 1px solid #222;
  font-weight: 600;
  width: fit-content;
  border-radius: 20px;
  transition-duration: 0.2s;
}
.socials_right_skills p:hover {
  color: #000;
  background-color: #00c853;
}
.socials_right_desktop {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socials_right_desktop_topstrip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 15px;
}
.socials_right_desktop_topstrip_logo {
  font-weight: 600;
  font-size: 12px;
}
.socials_right_desktop_topstrip_right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.localTimeDate {
  font-size: 12px;
}
.localTimeTime {
  font-size: 12px;
}
.bxs-battery-charging {
  color: #00c853;
}
.socials_right_desktop_home {
  flex: 1;
  background: url("desktop-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 15px;
}
.socials_right_desktop_home_dock {
  background-color: #ffffff60;
  backdrop-filter: blur(10px);
  padding: 15px 15px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.socials_right_desktop_home_dock a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  font-weight: 600;
  transition-duration: 0.2s;
}
.socials_right_desktop_home_dock img {
  height: 35px;
}
.socials_right_desktop_home_dock a:hover {
  transform: scale(1.2);
}
.socials_right_desktop_home_screen {
  flex: 1;
  width: 100%;
}
.socials_right_desktop_home_screen .window img {
  width: 100%;
}
.socials_right_desktop_home_screen .window {
  background-color: #000;
  width: 70%;
  border-radius: 5px;
  padding-top: 5px;
}
.window_circles .window_circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.window_circles {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.window_circles .window_circle:nth-child(1) {
  background-color: #00c853;
}
.window_circles .window_circle:nth-child(2) {
  background-color: #c86100;
}
.window_circles .window_circle:nth-child(3) {
  background-color: #c80000;
}
.socials_right_desktop_home_screen .window:nth-child(1) {
  z-index: 1;
}
.socials_right_desktop_home_screen .window:nth-child(2) {
  margin-top: -30%;
  margin-left: 50px;
  z-index: 2;
}
.socials_right_desktop_home_screen .window:nth-child(3) {
  margin-top: -25%;
  margin-left: 100px;
  z-index: 3;
}
