* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  cursor: url("cursor.png"), auto;
}
.pointing {
  cursor: url("pointing.png"), auto !important;
}
.beam {
  cursor: url("beam.png"), auto !important;
}
:root {
  --text-primary: #fff;
  --text-secondary: #d5d5d5;
  --bg-primary: #000;
}
body {
  color: #ffffff;
  background-color: var(--bg-primary);
}
.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  border-bottom: 1px solid #222;
  background-color: #000000a3;
  backdrop-filter: blur(20px);
}
.navbar_container {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
  width: 1400px;
  max-width: 95%;
}
.navbar_links_left {
  flex: 1;
}
.navbar_links_left ul {
  display: flex;
  gap: 15px;
}
.navbar .logo {
  font-size: 25px;
  font-family: "Clash Display";
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 1000;
}
.navbar_links_left ul {
  list-style-type: none;
}
.navbar_links_left a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition-duration: 0.2s;
}
.navbar_links_left a:hover {
  color: var(--text-primary);
}
.navbar_links_right ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  align-items: center;
}
.navbar_links_right a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  color: var(--text-secondary);
  font-weight: 600;
  border: 1px solid #666;
  padding: 8px 15px;
  border-radius: 40px;
  transition-duration: 0.2s;
}
.navbar_links_right a:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.navbar_links_right button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  color: var(--text-secondary);
  font-weight: 600;
  border: 1px solid #666;
  padding: 8px 15px;
  border-radius: 40px;
  background-color: transparent;
  transition-duration: 0.2s;
}
.navbar_links_right button:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.navbar_links_right ul li:nth-child(3) button {
  background-color: var(--text-primary);
  color: var(--bg-primary);
  font-size: 20px;
  padding: 4px 10px;
}
.header {
  position: relative;
  min-height: 90vh;
}
.header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: 15;
  background: linear-gradient(#00000071, #000);
  backdrop-filter: blur(5px);
}
.header_text_container {
  width: 1400px;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 0px;
}
.header_text_container h1 {
  font-family: "Clash Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 11.1vw;
  font-weight: 600;
}
.header_text_bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_text_bottom h2 {
  font-size: 40px;
  font-weight: 400;
  width: 500px;
  max-width: 95%;
}
.header_text_bottom p {
  width: 500px;
  max-width: 95%;
  line-height: 25px;
}
@media only screen and (max-width: 590px) {
  .navbar_links_left {
    display: none;
  }
  .navbar_container {
    justify-content: space-between;
  }
  .header_text_container h1 {
    font-size: 21vw;
  }
}
@media only screen and (max-width: 1000px) {
  .header_text_bottom p,
  .header_text_bottom h2 {
    margin-top: 25px;
  }
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500vw;
  height: 500vw;
  border-radius: 50%;
  background-color: var(--text-primary);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_animate {
  animation-name: loader;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.loader_inner {
  width: 500vw;
  height: 500vw;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_inner_animate {
  animation-name: loader;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.loader_inner p {
  font-weight: 600;
  animation-name: blinker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-family: "Clash Display";
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  100% {
    width: 0%;
    height: 0%;
    display: none;
    pointer-events: none;
  }
}
