@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Poppins", "Roboto", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  background-color: var(--dark-black);
}

:root {
  --dark-black: #121212;
  --light-black: #202020;
  --dark-white: #999;
  --light-white: #f1f1f1;
  --accent: #560bad;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  height: 100%;
  width: 100%;
  background-color: var(--light-black);
  color: var(--dark-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition-duration: 1s;
  font-size: 25px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--light-black); */
}

.navbar__logo a {
  font-size: 30px;
  color: var(--light-white);
  text-decoration: none;
}

#navToggle {
  background-color: transparent;
  color: var(--light-white);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 0px;
}

header {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}

.media {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
}

.header__layer {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 55;
  position: absolute;
  top: 0;
  left: 0;
}

.header__title {
  color: var(--light-white);
  font-size: 8vw;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  cursor: default;
}

.header__subtitle {
  font-size: 20px;
  color: var(--light-white);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  cursor: default;
}

.header__layer__content {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#videoTimeline {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
  height: 150px;
  width: 4px;
  cursor: pointer;
}

#videoWidth {
  width: 100%;
  background-color: var(--light-white);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .header__title {
    font-size: 10vw;
  }
  .header__subtitle {
    font-size: 16px;
  }
}

#cursor {
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  height: 10px;
  width: 10px;
  border: 1px solid var(--light-white);
  z-index: 120;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition-property: padding;
  transition-duration: 0.3s;
}

@media only screen and (max-width: 600px) {
  #cursor {
    display: none;
  }
}

#about {
  color: var(--light-white);
  padding: 100px 10px;
  cursor: default;
}

.about__inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.about__inner p {
  width: 400px;
  max-width: 95%;
  margin: 50px 0px;
}

#about h2 {
  font-size: 30px;
  font-weight: 400;
}

.about__inner img {
  max-width: 95%;
}

.about__inner a {
  display: inline-block;
  padding: 15px 70px;
  background-color: var(--accent);
  margin: 20px 0px;
  color: var(--light-white);
  text-decoration: none;
  font-size: 16px;
  border-radius: 40px;
}

.footer {
  padding: 100px 0px;
  width: 100%;
  background-color: var(--light-black);
}

.footer__inner {
  width: 80%;
  margin: auto;
}

.footer__header {
  font-size: 40px;
  color: var(--light-white);
}

.email {
  color: var(--light-white);
  display: inline-block;
  margin: 20px 0px;
  text-decoration: none;
}

.socials {
  margin-top: 40px;
}

.socials a {
  color: var(--light-white);
  text-decoration: none;
  display: inline-block;
  margin: 10px 0px;
}

#profile {
  cursor: none;
}

#cursorText {
  color: var(--light-white);
  font-weight: 600;
  transform: translate(-300%, -50%);
}
